body {
  max-width: 365px;
  padding: 0%;
  margin: 0;
  font-family: 'Roboto', sans-serif;

  .text-link {
    text-decoration: none;
  }
}

.section1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.ohmyfood {
  padding-top: 20px;

  .logo {
    width: 180px;
    height: auto;
  }
}

.heading_info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
  font-weight: 500;
  background-color: lightgray;
  box-shadow: inset 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
}


.section2 {
  display: flex;
  background-color: #efe9f5;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 40px 15px;
}

.sec2_heading {
  font-weight: 700;
  font-size: 25px;
}

.sec2_paragraph {
  text-align: center;
  width: 300px;
  font-weight: 300;
}

.btn-sec2 {
  &--grad {
    background-image: radial-gradient(closest-side at 15% 26%, #ac3fadb0 64%, #9356DC 147%);
    margin: 10px;
    padding: 15px 0px;
    text-align: center;
    // transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 3px 4px 4px #c7bcbc;
    border-radius: 50px;
    width: 215px;
    display: block;
    border: none;
  }

  &--grad:hover {
    cursor: pointer;
    background-image: radial-gradient(closest-side at 15% 26%, #af78f1 64%, #9356DC 147%);
    text-decoration: none;
    font-weight: 700;
  }
}

.sec3_info-blocks {
  margin: 45px 0px;

  .sec3_heading {
    padding-left: 15px;
  }
}

.sec3_blocks {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.blocks_numbers {
  position: relative;
  left: 28px;
  border-radius: 50px;
  background-color: #9356DC;
  padding: 6px 1px 4px 8px;
  width: 15px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}


.blocks_choose {
  display: flex;
  align-items: center;
}

.cellphone {
  position: relative;
  left: 45px;
  color: #9356DC;
}

.blocks-statement {
  border-radius: 20px;
  background-color: #efe9f5;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  box-shadow: 3px 4px 7px #ddd2d2;

  &--choose {
    padding: 25px 89px 25px 65px;
  }

  &--create {
    padding: 25px 102px 25px 65px;
  }

  &--enjoy {
    padding: 25px 35px 25px 65px;
  }
}

.section4 {
  background-color: #efe9f5;
  padding-bottom: 60px;

  .new-tag {
    display: none;
    background-color: #9356DC;
    padding: 5px 20px 5px 20px;
    width: fit-content;
    color: #99E2D0
  }

  .sec4_heading {
    font-weight: 900;
    font-size: 20px;
    padding: 45px 0px 0px 15px;
  }
}

.cards-all {
  display: flex;
  flex-direction: column;
  padding: 0px 5px 0px 5px;
  align-items: center;
  gap: 20px;
}

.card-block {
  background-color: #ffffff;
  max-width: 320px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


  .card-img {
    object-fit: cover;
    width: 320px;
    height: 165px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}

.block-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  height: 65px;
}

.card-title {
  font-weight: 900;
  padding-bottom: 5px;
  margin: 0;
}

.card-location {
  font-weight: 300;
  margin: 0;
}

.heart-images {
  font-size: 25px;

  .heart-solid {
    display: none;
  }

  .heart-outline {
    color: #9356dc;
  }

  &:hover {
    .heart-solid {
      cursor: pointer;
      color: #9356dc;
      display: block
    }

    .heart-outline {
      display: none
    }
  }
}

footer {
  background-color: #3b3b3b;
  padding: 5px 10px 20px 10px;

  .foot-all {
    font-family: "Shrikhand", sans-serif;
    padding-left: 0;
    color: white;
    font-size: 15px;
  }

  .foot-list {
    text-decoration: none;
    font-weight: 300;
    font-size: 13px;
    list-style-type: none;
    color: white;
    margin: 6px 0px 0px 0px;

    .foot-image {
      text-decoration: none;
      font-size: 10px;
      width: 10px;
      padding-right: 10px;
    }
  }
}