body {
  max-width: 375px;
  padding: 0%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.spinner-cover {
  position: fixed;
  // scale: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  animation: disappear 3s cubic-bezier(0.65, 0.1, 0, 1.2);
  animation-fill-mode: forwards;
}

.spinner {
  background-color: $color-tertiary;
  width: 100px;
  height: 100px;
  animation: spinner-animate 2s linear;
  position: sticky;
  left: 50vw;
  top: 50vh;
}

@keyframes spinner-animate {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    z-index: 1000;
  }

  to {
    opacity: 0;
  }
}


.section1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.ohmyfood {
  padding-top: 20px;

  .logo {
    width: 160px;
    padding-bottom: 10px;
    height: auto;
  }
}

.heading_info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
  font-weight: 500;
  background-color: #eaeaea;
  box-shadow: inset 0px 6px 4px -4px rgb(139 138 138 / 50%);
}


.section2 {
  display: flex;
  background-color: #f6f6f6;
  flex-direction: column;
  align-items: center;
  padding: 15px 15px 40px 15px;
}

.sec2_heading {
  font-weight: 800;
  font-size: 23px;
  padding-bottom: 10px;
}

.sec2_paragraph {
  text-align: center;
  width: 300px;
  font-weight: 300;
  font-size: 18px;
  padding-bottom: 5px;
}

.btn-sec2 {
  &--grad {
    background-image: radial-gradient(closest-side at 17% 26%, #ef74da 82%, #9356dc 291%);
    margin: 10px;
    padding: 15px 0px;
    text-align: center;
    background-size: 200% auto;
    color: white;
    box-shadow: 3px 4px 4px #c7bcbc;
    border-radius: 50px;
    width: 215px;
    display: block;
    border: none;
  }

  &--grad:hover {
    cursor: pointer;
    background-image: radial-gradient(closest-side at 17% 26%, lighten(#ef74da, 3%) 82%, lighten(#9356dc, 3%) 291%);
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  }
}

.sec3_info-blocks {
  margin: 45px 0px;

  .sec3_heading {
    padding-left: 15px;
  }
}

.sec3_blocks {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.blocks_numbers {
  position: relative;
  left: 28px;
  border-radius: 50px;
  background-color: $color-primary;
  padding: 6px 1px 4px 8px;
  width: 15px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}


.blocks_choose {
  display: flex;
  align-items: center;
}

.cellphone {
  font-size: 18px;
  position: relative;
  left: 45px;
  color: $color-primary;

  &--other {
    color: #7e7e7e
  }
}

.blocks-statement {
  border-radius: 20px;
  background-color: #f6f6f6;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  box-shadow: 3px 4px 7px #ddd2d2;

  &--choose {
    padding: 25px 89px 25px 68px;
  }

  &--create {
    padding: 25px 102px 25px 67px;
  }

  &--enjoy {
    padding: 25px 35px 25px 65px;
    background-color: #f5edff;
  }
}

.section4 {
  background-color: #f6f6f6;
  padding-bottom: 60px;

  .sec4_heading {
    font-weight: 900;
    font-size: 23px;
    padding: 55px 0px 0px 15px;
  }
}

.cards-all {
  display: flex;
  flex-direction: column;
  padding: 0px 5px 0px 5px;
  align-items: center;
  gap: 20px;

  .new-tag {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    display: block;
    font-size: 14px;
    background-color: #99E2D0;
    padding: 5px 25px 5px 25px;
    width: fit-content;
    color: #38916d;
    position: relative;
    left: 230px;
    bottom: 150px;
    box-shadow: 0px 2px 7px #585757;

    &--inactive {
      background-color: transparent;
      color: transparent;
    }
  }

  .text-link {
    text-decoration: none;
  }
}

.card-block {
  background-color: #ffffff;
  max-width: 320px;
  height: 235px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  }


  .card-img {
    object-fit: cover;
    width: 320px;
    height: 165px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    &--bottom {
      object-position: bottom;
    }

    &--percent {
      object-position: 50% 93%;
    }

    &--alone {
      object-position: 50% 60%;
    }
  }
}

.block-info {
  position: relative;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  height: 65px;
  color: black;
}

.card-title {
  font-weight: 900;
  padding-bottom: 5px;
  margin: 0;
}

.card-location {
  font-weight: 300;
  margin: 0;
}

.heart-images {
  position: relative;
  font-size: 25px;
  right: 30px;
  bottom: 15px;

  .heart-solid {
    position: absolute;
    // display: none;
    opacity: 0;
    transition: opacity 0.5s;

    &:hover {
      cursor: pointer;
      color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(#9356DC 20%, #FF79DA 80%);
      display: initial;
      opacity: 1;
    }
  }

  .heart-outline {
    position: absolute;
    color: #939292;

    &:hover {
      transform: scale(0)
    }
  }
}

footer {
  background-color: #3b3b3b;
  padding: 5px 10px 20px 10px;

  .text-link {
    color: white;
    text-decoration: none;
  }

  .foot-title {
    font-family: "Shrikhand", sans-serif;
    padding-left: 0;
    color: white;
    font-size: 15px;
  }

  .foot-all {
    text-decoration: none;
    color: white;
    padding-left: 0;
  }

  .foot-list {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    list-style-type: none;
    color: white;
    margin: 6px 0px 0px 0px;

    .foot-image {
      text-decoration: none;
      font-size: 10px;
      width: 10px;
      padding-right: 10px;
    }
  }
}

@media (min-width:600px) {
  body {
    max-width: inherit;
  }

  .sec2-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .section2 {
    gap: 33px;
    margin-left: 25px;
    border-radius: 30px;
  }

  .sec3_info-blocks {
    // position: relative;
    // left: 410px;
  }

  .sec3_heading {
    text-align: center;
  }

  .cards-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

}

@media (min-width: 992px) {
  body {
    max-width: inherit;
  }

  .sec3_info-blocks {
    margin-right: 20px;
  }

  .section4 {

    .sec4_heading {
      padding: 55px 0px 10px 60px;
    }
  }

  .cards-all {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 35px 190px;

    .card-block {
      height: 270px;
      max-width: 350px;
    }

    .card-img {
      width: 350px;
      height: 200px;
    }

    .new-tag {
      left: 250px;
      bottom: 185px;
    }
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    .foot-title {
      padding: 7px 50px 0px 0px;
    }

    .foot-all {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 50px;
    }
  }
}