.body {
  max-width: 400px;
  padding: 0%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.section1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.ohmyfood {
  padding-top: 20px;

  .logo {
    width: 180px;
    height: auto;
  }
}

.heading_info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 15px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;
  box-shadow: inset 0px 2px 4px 0 rgba(0, 0, 0, 0.5);
}


.section2 {
  display: flex;
  background-color: #efe9f5;
  flex-direction: column;
  align-items: center;
  padding: 0px 15px 20px 15px;
}

.sec2_heading {
  font-weight: 700;
  font-size: 30px;
}

.sec2_paragraph {
  text-align: center;
}

.btn-sec2 {
  &--grad {
    background-image: radial-gradient(closest-side at 15% 26%, #af78f1 64%, #9356DC 147%);
    margin: 10px;
    padding: 15px 0px;
    text-align: center;
    // transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 3px 4px 4px #c7bcbc;
    border-radius: 50px;
    width: 215px;
    display: block;
    border: none;
  }

  &--grad:hover {
    cursor: pointer;
    background-image:radial-gradient(closest-side at 15% 26%, #c480bb 64%, #9356DC 147%);
    text-decoration: none;
    font-weight: 700;
  }
}

.sec3_info-blocks {
  margin: 15px;

  .sec3_heading {
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
  }
}

.sec3_blocks {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.blocks_numbers {
  position: relative;
  left: 28px;
  border-radius: 50px;
  background-color: #9356DC;
  padding: 6px 1px 4px 8px;
  width: 15px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}


.blocks_choose {
  display: flex;
  align-items: center;
}

.cellphone {
  position: relative;
  left: 45px;
  color: gray;
}

.blocks-statement {
  border-radius: 20px;
  background-color: #efe9f5;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  box-shadow: 3px 4px 7px #ddd2d2;

  &--choose {
    padding: 25px 89px 25px 65px;
  }

  &--create {
    padding: 25px 102px 25px 65px;
  }

  &--enjoy {
    padding: 25px 35px 25px 65px;
  }
}