body {
  padding: 0%;
  margin: 0;
  font-family: $font-primary;
  min-height: 100vh;
}

.nav_arrow {
  position: absolute;
  top: 20px;
  margin-left: 20px;
  font-size: 20px;
}

.head_nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  .ohmyfood {
    padding-top: 20px;
    margin: auto;
  }
}

.hero_image {
  width: 100%;

  .hero_image-one {
    object-fit: cover;
    width: 100%;
    height: 280px;
  }
}

.restaurant_menu-one {
  position: relative;
  top: -50px;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 20px 20px 20px 20px;

  .heading_heart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;

    .heart-outline {
      font-size: 25px;
      transform: scale(0.9, 1);
      color: black;

      &:hover {
        opacity: 0;
      }
    }
  }

  .heading_menu-one {
    font-family: $font-secondary;
    font-weight: lighter;
    font-size: 28px;
  }
}

.main_heading-block {
  display: flex;
  flex-direction: column;
  padding-top: 20px;

  .main-heading {
    font-size: 17px;
    font-weight: 300;
    margin-bottom: 5px;
  }

  .main-block {
    background-color: $color-tertiary;
    width: 45px;
    height: 3px;
    margin-bottom: 15px;
  }
}

.whole_block-section {
  max-width: 400px;
}

@keyframes menu-load {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.menu_blocks-all {
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 400px;


  .menu_blocks-1 {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 12px #dfdede;
    height: 67px;
    width: 330px;
    animation: menu-load 1s ease;

    &:hover {
      .blocks_check {
        width: 60px;
        transform: scaleX(1);
      }

      .blocks_price {
        transform: translateX(-15px);
      }

      .check-mark {
        animation: rotating 900ms 1;
        animation-fill-mode: forwards;
      }
    }
  }

  .menu_blocks-2 {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 12px #dfdede;
    height: 67px;
    min-width: 310px;
    animation: menu-load 3s ease;

    &:hover {
      .blocks_check {
        width: 60px;
        transform: scaleX(1);
      }

      .blocks_price {
        transform: translate(-15px, 0px);
      }

      .check-mark {
        animation: rotating 900ms 1;
        animation-fill-mode: forwards;
      }
    }
  }

  .menu_blocks-3 {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 4px 12px #dfdede;
    height: 67px;
    min-width: 310px;
    animation: menu-load 5s ease;

    &:hover {
      .blocks_check {
        width: 60px;
        transform: scaleX(1);
      }

      .blocks_price {
        transform: translate(-15px, 0px);
      }

      .check-mark {
        animation: rotating 900ms 1;
        animation-fill-mode: forwards;
      }
    }
  }

}

@keyframes rotating {
  from {}

  to {
    transform: rotateZ(1turn);
  }

}


.menu_blocks_heading-info {
  padding: 0px 0px 9px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 23px;

  .blocks_heading {
    font-weight: 700;
    margin: 12px 0px 7px 6px;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .blocks_info {
    margin: 0px 0px 0px 6px;
    font-size: 15px;
    font-weight: 300;
    transform: scale(.99, 1);
    transform-origin: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}


.menu_blocks_price-check {
  padding-top: 22px;
  padding-bottom: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .blocks_price {
    font-size: 15px;
    font-weight: 700;
    margin: 0px 0px 12px 0px;
    transition: transform 300ms ease-in-out;
  }

  .blocks_check {
    background-color: $color-tertiary;
    height: 67px;
    text-align: center;
    margin: 15px 0px 0px 0px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
    transform-origin: right;
  }

  .check-mark {
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
    background-color: white;
    color: $color-tertiary;
    padding: 2px 3px 2px 3px;
    border-radius: 50px;
    margin: 23px 0px 0px 0px;
    transform: rotate(0deg);
  }
}

.section-dessert {
  padding-bottom: 60px;
}

.btn-restaurant {
  padding-bottom: 35px;

  &--grad {
    background-image: radial-gradient(closest-side at 17% 26%, #ef74da 82%, #9356dc 291%);
    margin: auto;
    padding: 15px 0px;
    text-align: center;
    background-size: 200% auto;
    color: white;
    box-shadow: 3px 4px 4px #c7bcbc;
    border-radius: 50px;
    width: 215px;
    display: block;
    border: none;
  }

  &--grad:hover {
    cursor: pointer;
    background-image: radial-gradient(closest-side at 17% 26%, lighten(#ef74da, 3%) 82%, lighten(#9356dc, 3%) 291%);
    text-decoration: none;
    font-weight: 700;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
  }
}

footer {
  position: relative;
  background-color: #3b3b3b;
  padding: 5px 10px 20px 10px;
  margin-top: -50px;

  .text-link-restaurant {
    color: white;
    text-decoration: none;
  }

  .foot-title-restaurant {
    font-family: "Shrikhand", sans-serif;
    padding-left: 0;
    color: white;
    font-size: 15px;
  }

  .foot-all-restaurant {
    text-decoration: none;
    color: white;
    padding-left: 0;
  }

  .foot-list-restaurant {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    list-style-type: none;
    color: white;
    margin: 6px 0px 0px 0px;

    .foot-image-restaurant {
      text-decoration: none;
      font-size: 10px;
      width: 10px;
      padding-right: 10px;
    }
  }
}


@media (min-width:635px) {

  .hero_image {
    .hero_image-one {
      object-fit: cover;
      object-position: 0px -146px;
      width: 100%;
      height: 475px;
    }
  }

  .heading_heart {
    margin: auto;
    max-width: 600px;
  }


  .whole_block-section {
    margin: auto;

    .menu_blocks-1,
    .menu_blocks-2,
    .menu_blocks-3 {
      min-width: 315px;
    }
  }

  footer {
    background-color: #3b3b3b;
    padding: 5px 10px 20px 10px;

    .text-link-restaurant {
      color: white;
      text-decoration: none;
    }

    .foot-title-restaurant {
      font-family: "Shrikhand", sans-serif;
      padding-left: 0;
      color: white;
      font-size: 15px;
      padding-right: 60px;
    }

    .foot-all-restaurant {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 100px;
      text-decoration: none;
      color: white;
      padding-left: 0;
    }

    .foot-list-restaurant {
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      font-weight: 300;
      font-size: 14px;
      list-style-type: none;
      color: white;
      margin: 6px 0px 0px 0px;

      .foot-image-restaurant {
        text-decoration: none;
        font-size: 10px;
        width: 10px;
        padding-right: 10px;
      }
    }
  }
}


@media (min-width: 992px) {

  .hero_image {
    .hero_image-one {
      object-fit: cover;
      object-position: 0px -89px;
      width: 100%;
      height: 475px;
    }
  }

  .whole_block-section {
    max-width: 1052px;

    .menu_blocks-all {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 1160px;

      .menu_blocks-1,
      .menu_blocks-2,
      .menu_blocks-3 {
        width: 330px;
        min-width: none;
      }
    }
  }

}